body {
     background-image: url(Verzeichnis/Stylish.png);
     background-attachment: fixed;
     background-size: cover;
}

#Link {
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 30%;
    /*background: red;*/
}
